html, body, main {
    height: 100%;
}

img {
    width: 50px;
    height: 50px;
}

#ghost {
    width: 400px;
    height: 798px;
    left: 50%;
    bottom: -50px;
    position: absolute;
}

#ds {
    position: fixed;
    left: 5px;
    top: 15px;
    background-color: sienna;
    border: solid black 1px;
    padding: 2px;
}

#inn {
    position: fixed;
    left: 5px;
    top: 80px;
    background-color: sienna;
    border: solid black 1px;
    padding: 2px;
}

#dagger {
    position:absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -50px;
    background-color: sienna;
    border: solid black 1px;
    padding: 2px;
}

#bag {
    position: fixed;
    bottom: 15px;
    right: 5px;
    background-color: sienna;
    border: solid black 1px;
    padding: 2px;
}

.hide{
    display: none;
}

body {
    background-image: url(../image/4821965531_d3259a73e3_b.jpg);
    background-size: cover; 
}